.table .rating {
    font-size: 3em;
    line-height: 1em;
    padding-top: 0.3em;
}

.table .team {
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 1.2em;
}

.team-list {
    max-width: 990px;
    text-align: center;
    margin: 0 auto;
}