{% macro teamDash(city, name) %}{% spaceless %}

    {% if city != '' and name != '' %}
        {{ (city ~ ' ' ~ name)|replace({' ': '-', '.': ''})|lower }}
    {% elseif name == '' %}
        {{ city|replace({' ': '-', '.': ''})|lower }}
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro ratingClass(rating) %}{% spaceless %}

    {% if rating >= 70 %}
        ooo
    {% elseif rating >= 60 %}
        meh
    {% else %}
        clunk
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro userRatingClass(rating) %}{% spaceless %}

    {% if rating >= 1700 %}
        ooo
    {% elseif rating >= 1300 %}
        meh
    {% else %}
        clunk
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro logo(city, name, size) %}
    {% import _self as utils %}
<span class="logo {{ size|default('small') ~ ' ' ~ utils.teamDash(city, name) }}"></span>
{% endmacro %}

{% macro system(sys, size) %}
<div class="system {{ size|default('small') }} system-{{ sys }}"></div>
{% endmacro %}

{% macro gameUrl(game) %}{% spaceless %}
{% import _self as utils %}

{% if game.home_score > game.visitor_score %}
/game/{{ game.game_id }}
-{{ game.home_user_name|lower|e }}
-{{ game.home_score }}
-{{game.visitor_user_name|lower|e }}
-{{ game.visitor_score }}
{% else %}
/game/{{ game.game_id }}
-{{game.visitor_user_name|lower|e }}
-{{ game.visitor_score }}
-{{ game.home_user_name|lower|e }}
-{{ game.home_score }}
{% endif %}

{% endspaceless %}{% endmacro %}

{% macro list(games, showUnconfirmed) %}
{% import _self as utils %}
<table class="game-list table">
    <thead>
        <tr>
            <td width="5%">System</td>
            <td width="20%">Details</td>
            <td colspan="2">Visitor</td>
            <td> </td>
            <td colspan="2">Home</td>
        </tr>
    </thead>
    {% for game in games %}
        {% if game.system_name == "snes" %}
            {% set sysName = "snes" %}
        {% else %}
            {% set sysName = "gens" %}
        {% endif %}
        {% if game.confirmed == 1 %}
            {% if game.home_score > game.visitor_score %}
                {% set winner="home" %}
            {% elseif game.visitor_score > game.home_score %}
                {% set winner="visitor" %}
            {% else %}
                {% set winner="tie" %}
            {% endif %}
            <tr class="{{ winner }}">
                <td class="sys">
                    <a href="{{ homeDir ~'/'~ sysName}}">
                        {{ utils.system(game.system_name) }}
                    </a>
                </td>
                <td class="more"><a href="{{ utils.gameUrl(game) }}">More</a></td>
                <td class="visitor">
                    <a href="/user/{{ game.visitor_user_name }}">{{ game.visitor_user_name|e }}</a>
                    <a href="/team/{{ utils.teamDash(game.visitor_team_city, game.visitor_team_name) }}">
                        {{ utils.logo(game.visitor_team_city, game.visitor_team_name) }}
                    </a>
                    
                </td>
                <td class="visitor score">{{ game.visitor_score }} </td>
                <td class="at">@</td>
                <td class="home score">{{ game.home_score }}</td>
                <td class="home">
                    <a href="/user/{{ game.home_user_name }}">{{ game.home_user_name|e }}</a>
                    <a href="/team/{{ utils.teamDash(game.home_team_city, game.home_team_name) }}">
                        {{ utils.logo(game.home_team_city, game.home_team_name) }} 
                    </a>
                </td>
            </tr>
        {% elseif game.confirmed == 0 and showUnconfirmed and game.uploader != cookie.userId and (cookie.userId == game.home_user_id or cookie.userId == game.visitor_user_id) %}
            <tr class="unconfirmed">
                <td class="sys">
                    <a href="{{ homeDir ~'/'~ sysName}}">
                        {{ utils.system(game.system_name) }}
                    </a>
                </td>
                <td class="more">
                    <a href="/game/{{ game.game_id }}/review/" class="confirm">Review</a>
                </td>
                <td class="visitor">
                    <a href="/user/{{ game.visitor_user_name }}">
                        {{ game.visitor_user_name|e }} {{ utils.logo(game.visitor_team_city, game.visitor_team_name) }}
                    </a>
                </td>
                <td class="visitor score">{{ game.visitor_score }} </td>
                <td class="at">@</td>
                <td class="home score">{{ game.home_score }}</td>
                <td class="home">
                    <a href="/user/{{ game.home_user_name }}">
                        {{ game.home_user_name|e }}
                        {{ utils.logo(game.home_team_city, game.home_team_name) }} 
                    </a>
                </td>
            </tr>
        {% elseif game.confirmed == 0 and game.uploader == cookie.userId and (cookie.userId == game.home_user_id or cookie.userId == game.visitor_user_id) %}
            <tr class="unconfirmed">
                <td class="sys">
                    <a href="{{ homeDir ~'/'~ sysName}}">
                        {{ utils.system(game.system_name) }}
                    </a>
                </td>
                <td class="more">
                    Unconfirmed
                </td>
                <td class="visitor">
                    <a href="/user/{{ game.visitor_user_name }}">
                        {{ game.visitor_user_name|e }} {{ utils.logo(game.visitor_team_city, game.visitor_team_name) }}
                    </a>
                </td>
                <td class="visitor score">{{ game.visitor_score }} </td>
                <td class="at">@</td>
                <td class="home score">{{ game.home_score }}</td>
                <td class="home">
                    <a href="/user/{{ game.home_user_name }}">
                        {{ game.home_user_name|e }}
                        {{ utils.logo(game.home_team_city, game.home_team_name) }} 
                    </a>
                </td>
            </tr>
        {% elseif game.confirmed == 2 and showUnconfirmed and game.uploader == cookie.userId and (cookie.userId == game.home_user_id or cookie.userId == game.visitor_user_id)  %}
            <tr class="denied">
                <td class="sys">
                    <a href="{{ homeDir ~'/'~ sysName}}">
                        {{ utils.system(game.system_name) }}
                    </a>
                </td>
                <td class="more">
                    <a href="/game/{{ game.game_id }}/review/" class="confirm">Denied</a>
                </td>
                <td class="visitor">
                    <a href="/user/{{ game.visitor_user_name }}">
                        {{ game.visitor_user_name|e }} {{ utils.logo(game.visitor_team_city, game.visitor_team_name) }}
                    </a>
                </td>
                <td class="visitor score">{{ game.visitor_score }} </td>
                <td class="at">@</td>
                <td class="home score">{{ game.home_score }}</td>
                <td class="home">
                    <a href="/user/{{ game.home_user_name }}">
                        {{ game.home_user_name|e }}
                        {{ utils.logo(game.home_team_city, game.home_team_name) }} 
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endmacro %}

{% macro minFromSec(sec) %}
    {% set seconds = sec % 60 %}
    {% if seconds > 9 %}
        {{ sec // 60 ~':'~ seconds }}
    {% else %}
        {{ sec // 60 ~':0'~ seconds }}
    {% endif %}
{% endmacro %}

{% macro averages(avgs) %}
{% import _self as utils %}
<div class="scoring-averages">
    <table class="table table-striped scoring">
        <thead>
            <tr>
                <td width="20%">Per Game Averages</td>
                <td width="20%">1st</td>
                <td width="20%">2nd</td>
                <td width="20%">3rd</td>
                <td width="20%">Total</td>
            </tr>
        </thead>
        <tr>
            <td class="title">For</td>
            <td>{{ avgs.p1 }}</td>
            <td>{{ avgs.p2 }}</td>
            <td>{{ avgs.p3 }}</td>
            <td>{{ avgs.goals }}</td>
        </tr>
        <tr>
            <td class="title">Against</td>
            <td>{{ avgs.p1Against }}</td>
            <td>{{ avgs.p2Against }}</td>
            <td>{{ avgs.p3Against }}</td>
            <td>{{ avgs.goalsAgainst }}</td>
        </tr>
    </table>
</div>
<div class="user-averages">
    <table class="table table-striped">
        <thead>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="7%">Shots</td>
                <td width="12%">Shooting %</td>
                <td width="10%"><abbr title="Shorthanded">SH</abbr> Goals</td>
                <td width="15%">One Timers</td>
                <td width="6%">Faceoffs</td>
                <td width="6%">Checks</td>
                <td width="12%">Attack Zone</td>
                <td width="10%">Passes</td>
                <td width="14%">Pass %</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="title">For</td>
                <td>{{ avgs.shots }}</td>
                <td>
                    {% if avgs.goals > 0 %}
                        {{ (avgs.goals / avgs.shots)|number_format(2) }}
                    {% else %}
                        0.00
                    {% endif %}
                </td>
                <td>{{ avgs.shGoals }}</td>
                <td>{{ avgs.oneTimerGoals ~'/'~ avgs.oneTimers }}</td>
                <td>{{ avgs.faceoffs }}</td>
                <td>{{ avgs.bodyChecks }}</td>
                <td>{{ utils.minFromSec(avgs.attackZone) }}</td>
                <td>{{ avgs.passesReceived ~'/'~ avgs.passes }}</td>
                <td>
                    {% if avgs.passesReceived > 0 %}
                        {{ (avgs.passesReceived / avgs.passes)|number_format(2) }}
                    {% else %}
                        0.00
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="title">Against</td>
                <td>{{ avgs.shotsAgainst }}</td>
                <td>
                    {% if avgs.goalsAgainst > 0 %}
                        {{ (avgs.goalsAgainst / avgs.shotsAgainst)|number_format(2) }}
                    {% else %}
                        0.00
                    {% endif %}
                </td>
                <td>{{ avgs.shGoalsAgainst }}</td>
                <td>{{ avgs.oneTimerGoalsAgainst ~'/'~ avgs.oneTimersAgainst }}</td>
                <td>{{ avgs.faceoffsAgainst }}</td>
                <td>{{ avgs.bodyChecksAgainst }}</td>
                <td>{{ utils.minFromSec(avgs.attackZoneAgainst) }}</td>
                <td>{{ avgs.passesReceivedAgainst ~'/'~ avgs.passesAgainst }}</td>
                <td>
                    {% if avgs.passesReceivedAgainst > 0 %}
                        {{ (avgs.passesReceivedAgainst / avgs.passesAgainst)|number_format(2) }}
                    {% else %}
                        0.00
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro userList(users) %}
{% import _self as utils %}
<table class="table table-striped user-list">
    <thead>
        <tr>
            <td>User</td>
            <td>Rating</td>
            <td>Last 10 Games</td>
            <td>Wins</td>
            <td>Losses</td>
            <td>Ties</td>
        </tr>
    </thead>
    {% for user in users %}
        <tr>
            <td><a href="/user/{{ user.name|e }}">{{ user.name|e }}</a></td>
            <td class="{{ utils.userRatingClass(user.rating) }}">{{ user.rating }}</td>
            <td></td>
            <td>{{ user.wins }}</td>
            <td>{{ user.losses }}</td>
            <td>{{ user.ties }}</td>
            
        </tr>
    {% endfor %}
</table>
{% endmacro %}

{% macro barPercentage(numerator, denominator) %}{% spaceless %}

    {{ (numerator / denominator * 100)|number_format(5) }}

{% endspaceless %}{% endmacro %}

{% macro gameDetails(game) %}
{% import _self as utils %}

{% if game.system_name == 'snes' %}
    {% set rosters = rostersSnes %}
{% else %}
    {% set rosters = rostersGens %}
{% endif %}

{% set home_bg = utils.teamDash(game.home_team_city, game.home_team_name) %}
{% set home_team = game.home_team_name %}
{% set home_roster = rosters[game.home_team_id - 1] %}
{% set visitor_bg = utils.teamDash(game.visitor_team_city, game.visitor_team_name) %}
{% set visitor_team = game.visitor_team_name %}
{% set visitor_roster = rosters[game.visitor_team_id - 1] %}

<div class="box-score clearfix row-fluid">
    <div class="visitor box span4">
        <div class="user-and-team">
            <a href="/user/{{ game.visitor_user_name|e }}" class="name">{{ game.visitor_user_name|e }}</a>
            <a href="/team/{{ utils.teamDash(game.visitor_team_city, game.visitor_team_name) }}" class="team clearfix">{{ utils.logo(game.visitor_team_city, game.visitor_team_name, 'large') }}</a>
        </div>
        <div class="score">
            {{ game.visitor_score }}
        </div>
    </div>
        
    <div class="game-data span4">
        {{ utils.system(game.system_name) }}
        <div class="at">@</div>
        <table class="table table-striped scoring">
            <thead>
                <tr>
                    <td class="team-name">Scoring By Period</td>
                    <td>1st</td>
                    <td>2nd</td>
                    <td>3rd</td>
                    <td>OT</td>
                </tr>
            </thead>
            <tr class="visitor">
                <td class="chart"><div class="{{ visitor_bg }} logo small" style="height: 20px" title="{{ visitor_name }}"></div></td>
                <td>{{ game.visitor_p1_goals }}</td>
                <td>{{ game.visitor_p2_goals }}</td>
                <td>{{ game.visitor_p3_goals }}</td>
                {% if game.isOT %}<td>{{ game.visitor_ot_goals }}</td>{% else %}<td>--</td>{% endif %}
            </tr>
            <tr class="home">
                <td class="chart"><div class="{{ home_bg }} logo small" style="height: 20px" title="{{ home_name }}"></div></td>
                <td>{{ game.home_p1_goals }}</td>
                <td>{{ game.home_p2_goals }}</td>
                <td>{{ game.home_p3_goals }}</td>
                {% if game.isOT %}<td>{{ game.home_ot_goals }}</td>{% else %}<td>--</td>{% endif %}
            </tr>
        </table>
    </div>
    
    <div class="home box span4">
        <div class="user-and-team">
            <a href="/user/{{ game.home_user_name|e }}" class="name">{{ game.home_user_name|e }}</a>
            <a href="/team/{{ utils.teamDash(game.home_team_city, game.home_team_name) }}" class="team clearfix">{{ utils.logo(game.home_team_city, game.home_team_name, 'large') }}</a>
        </div>
        <div class="score">
            {{ game.home_score }}
        </div>
    </div>
</div>

{% if game.scoring_summary and (game.home_score > 0 or game.visitor_score > 0) %}
<div class=" clearfix row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-striped extra summary">
            <thead>
                <tr>
                    <td colspan="3">Scoring Summary</td>
                </tr>
                <tr>
                    <td width="35px">Team</td>
                    <td width="5%">Time</td>
                    <td width="5%">Period</td>
                    <td width="5%" class="jersey">#</td>
                    <td>Goal</td>
                    <td width="5%">Strength</td>
                </tr>
            </thead>
            {% for goal in game.scoring_summary %}
            <tr>
                {# Set goal strength #}
                {% if goal.status == 0 %}
                    {% set strength = "SH2" %}
                {% elseif goal.status == 1 %}
                    {% set strength = "SH" %}
                {% elseif goal.status == 2 %}
                    {% set strength = "Even" %}
                {% elseif goal.status == 3 %}
                    {% set strength = "PP" %}
                {% elseif goal.status == 4 %}
                    {% set strength = "PP2" %}
                {% endif %}
                    
                
                    
                {# Set home team name #}
                {% if goal.team == 'home' %}
                    {% set bg = home_bg %}
                    {% set team = home_team %}
                    {% set roster = home_roster %}
                {% else %}
                    {% set bg = visitor_bg %}
                    {% set team = visitor_team %}
                    {% set roster = visitor_roster %}
                {% endif %}
                {% set scorer = roster[goal.scorer].first_name ~' '~ roster[goal.scorer].last_name %}
                    
                <td class="chart"><div class="{{ bg }} logo small" style="height: 20px" title="{{ team }}"></div></td>
                <td>{{ utils.minFromSec(goal.time) }}</td>
                <td>{{ goal.period }}</td>
                <td class="jersey">{{ roster[goal.scorer].jersey }}</td>
                <td><strong>{{scorer}}</strong>
                    {% if goal.assistant1 < 255 %}
                        <span class="assist">
                            {% set assistant1 = '#'~ roster[goal.assistant1].jersey ~' '~ roster[goal.assistant1].first_name ~' '~ roster[goal.assistant1].last_name %}
                            - Assist by: {{assistant1}}

                            {% if goal.assistant2 < 255 %}
                                {% set assistant2 = '#'~ roster[goal.assistant2].jersey ~' '~ roster[goal.assistant2].first_name ~' '~ roster[goal.assistant2].last_name %}
                                and {{assistant2}}
                            {% endif %}
                        </span>
                    {% endif %}
                </td>
                <td style="text-align: right;">{{ strength }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="span1"></div>
</div>
{% endif %}


{% if game.penalty_summary %}
<div class=" clearfix row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-striped extra summary">
            <thead>
                <tr>
                    <td colspan="7">Penalty Summary</td>
                </tr>
                <tr>
                    <td width="35px">Team</td>
                    <td width="5%">Time</td>
                    <td width="5%">Period</td>
                    <td width="5%" class="jersey">#</td>
                    <td width="*">Player</td>
                    <td width="20%">Penalty</td>
                    <td width="5%">Minutes</td>
                </tr>
            </thead>
            {% for penalty in game.penalty_summary %}
            <tr>    
                {# Set home team name #}
                {% if penalty.team == 'home' %}
                    {% set bg = home_bg %}
                    {% set team = home_team %}
                    {% set roster = home_roster %}
                {% else %}
                    {% set bg = visitor_bg %}
                    {% set team = visitor_team %}
                    {% set roster = visitor_roster %}
                {% endif %}
                {% set player = roster[penalty.player].first_name ~' '~ roster[penalty.player].last_name %}
                <td class="chart"><div class="{{ bg }} logo small" style="height: 20px" title="{{ team }}"></div></td>
                <td>{{ utils.minFromSec(penalty.time) }}</td>
                <td>{{ penalty.period }}</td>
                <td class="jersey">{{ roster[penalty.player].jersey }}</td>
                <td><strong>{{ player }}</strong></td>
                <td>{{ penalty.penalty }}</td>
                <td style="text-align: right;">2:00</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    <div class="span1"></div>
</div>
{% endif %}

<div class="box-score clearfix row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-striped extra">
            <thead>
                <tr>
                    <td width="18%" class="chart">
                        <div class="{{ visitor_bg }} logo small" style="height: 20px" title="{{ visitor_team }}"></div>
                    </td>
                    <td>Stat Summary</td>
                    <td width="18%" class="chart">
                        <div class="{{ home_bg }} logo small" style="height: 20px" title="{{ home_team }}"></div>
                    </td>
                </tr>
            </thead>
            <tr>
                <td>{{ game.visitor_shots }}</td>
                <td>Shots</td>
                <td>{{ game.home_shots }}</td>
            </tr>
            <tr>
                <td>
                    {% if game.visitor_score > 0 %}
                        {{ game.visitor_score / game.visitor_shots * 100 // 1 }}%
                    {% else %}
                        0%
                    {% endif %}
                </td>
                <td>Shooting Percentage</td>
                <td>
                    {% if game.home_score > 0 %}
                        {{ game.home_score / game.home_shots * 100 // 1 }}%
                    {% else %}
                        0%
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ game.visitor_pp_goals ~'/'~ game.visitor_pp }}</td>
                <td>Power Play</td>
                <td>{{ game.home_pp_goals ~'/'~ game.home_pp }}</td>
            </tr>
            <tr>
                <td>{{ utils.minFromSec(game.visitor_pp_time) }}</td>
                <td>PP Minutes</td>
                <td>{{ utils.minFromSec(game.home_pp_time) }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_pp_shots }}</td>
                <td>PP Shots</td>
                <td>{{ game.home_pp_shots }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_sh_goals }}</td>
                <td>Shorthanded Goals</td>
                <td>{{ game.home_sh_goals }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_breakaway_goals ~'/'~ game.visitor_breakaways }}</td>
                <td>Breakaways</td>
                <td>{{ game.home_breakaway_goals ~'/'~ game.home_breakaways }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_one_timer_goals ~'/'~ game.visitor_one_timers }}</td>
                <td>One Timers</td>
                <td>{{ game.home_one_timer_goals ~'/'~ game.home_one_timers }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_penalty_shot_goals ~'/'~ game.visitor_penalty_shots }}</td>
                <td>Penalty Shots</td>
                <td>{{ game.home_penalty_shot_goals ~'/'~ game.home_penalty_shots }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_faceoffs_won }}</td>
                <td>Faceoffs</td>
                <td>{{ game.home_faceoffs_won }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_body_checks }}</td>
                <td>Body Checks</td>
                <td>{{ game.home_body_checks }}</td>
            </tr>
            <tr>
                <td>{{ utils.minFromSec(game.visitor_attack_zone) }}</td>
                <td>Attack Zone</td>
                <td>{{ utils.minFromSec(game.home_attack_zone) }}</td>
            </tr>
            <tr>
                <td>{{ game.visitor_passes_received }}/{{ game.visitor_passes }}</td>
                <td>Passing</td>
                <td>{{ game.home_passes_received }}/{{ game.home_passes }}</td>
            </tr>
            <tr>
                <td>
                    {% if game.visitor_passes_received > 0 %}
                        {{ game.visitor_passes_received / game.visitor_passes * 100 // 1 }}%
                    {% else %}
                        0%
                    {% endif %}
                </td>
                <td>Passing Percentage</td>
                <td>
                    {% if game.home_passes_received > 0 %}
                        {{ game.home_passes_received / game.home_passes * 100 // 1 }}%
                    {% else %}
                        0%
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="span1"></div>
</div>
{% endmacro %}