{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block css %}
<link href="/static/css/game/details.css" rel="stylesheet" media="screen">
{% endblock %}

{% block site_title %}
{{ game.visitor_team_city ~' ('~ game.visitor_user_name|e ~') '~ game.visitor_score ~' @ '~ game.home_team_city ~' ('~ game.home_user_name|e ~') '~ game.home_score }}
{% endblock %}

{% block content %}
{{ utils.gameDetails(game) }}

<div class="extra">
    <p><a href="/games/">View All Games</a></p>
    <a href="/">Home</a>  
</div>

<div class="row-fluid clearfix">
    <div class="span1"></div>
    <div class="span10 clearfix">
        <div id="disqus_thread"></div>
    </div>
    <div class="span1"></div>
</div>
<script>
    var disqus_shortname = 'YOURDISQUSNAME';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

{% endblock %}