{% spaceless %}

{% extends 'index.twig' %}

{% block site_title %}
Update the game
{% endblock %}

{% block content %}
<h1>Update it!!!</h1>

{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/game/{{ game.id }}/update/" method="post">
        <label>Home</label>
        <select name="home_team" id="homeTeam">
            <option>Choose a Team</option>
            {% for team in teams %}
                {% if game.homeTeam == team.id %}
                    <option value="{{ team.id }}" selected>{{ team.city ~ ' ' ~ team.name }}</option>
                {% else %}
                    <option value="{{ team.id }}">{{ team.city ~ ' ' ~ team.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        &nbsp;
        <select name="home_user" id="homeUser">
            <option>Choose Someone!</option>
            {% for user in users %}
                {% if game.homeUser == user.id %}
                    <option value="{{ user.id }}" selected>{{ user.name }}</option>
                {% else %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        &nbsp;
        <input type="number" name="home_score" id="homeScore" value="{{ game.homeScore }}">
        <br>
        <label>Away</label> 
        <select name="away_team" id="awayTeam">
            <option>Choose a Team</option>
            {% for team in teams %}
                {% if game.visitorTeam == team.id %}
                    <option value="{{ team.id }}" selected>{{ team.city ~ ' ' ~ team.name }}</option>
                {% else %}
                    <option value="{{ team.id }}">{{ team.city ~ ' ' ~ team.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        &nbsp;
        <select name="away_user" id="awayUser">
            <option>Choose Someone!</option>
            {% for user in users %}
                {% if game.visitorUser == user.id %}
                    <option value="{{ user.id }}" selected>{{ user.name }}</option>
                {% else %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        &nbsp;
        <input type="number" name="away_score" id="awayScore" value="{{ game.visitorScore }}">
        <br>
        <label class="checkbox">
            {% if game.isOT %}
                <input type="checkbox" name="ot" id="ot" value="1" checked>
            {% else %}
                <input type="checkbox" name="ot" id="ot" value="1">
            {% endif %}
            Overtime?
        </label>
        <br>
        {% if cookie.userId == game.visitorUser %}
            <label class="checkbox">
                <input type="checkbox" name="confirmed" id="confirmed" value="1"> Confirm this score
            </label>
            <br>
        {% endif %}
        <input type="submit" value="Kapow!" class="btn">
    </form>
</div>

{% endblock %}

{% endspaceless %}