{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}Every Last Game Played!{% endblock %}
    
{% block content %}
    <h1>Recent Games</h1>
    {% if games|length > 0 %}
        {{ utils.list(games) }}
    {% else %}
        <h4>No games yet. Play someone and upload the stats!</h4>
    {% endif %}
{% endblock %}
    