{% spaceless %}

{% extends 'index.twig' %}

{% block site_title %}
Create a new game
{% endblock %}

{% block content %}
<h1>Create a new game</h1>

{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/game/new/" method="post">
        <label>Home</label> 
        <select name="home_team" id="homeTeam">
            <option selected>Choose a Team</option>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.city ~ ' ' ~ team.name }}</option>
            {% endfor %}
        </select>
        &nbsp;
        <select name="home_user" id="homeUser">
            <option selected>Choose Someone!</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Away</label>
        <select name="away_team" id="awayTeam">
            <option selected>Choose a Team</option>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.city ~ ' ' ~ team.name }}</option>
            {% endfor %}
        </select>
        &nbsp;
        <select name="away_user" id="awayUser">
            <option selected>Choose Someone!</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Bam!" class="btn">
    </form>
</div>
{% endblock %}

{% endspaceless %}