{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block css %}
<link href="/static/css/game/details.css" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/validate.min.js"></script>
<script type="text/javascript" src="/static/js/game/confirm-validation.js"></script>
{% endblock %}

{% block site_title %}
{{ game.visitor_user_name|e }} {{ game.visitor_score }} @ {{ game.home_user_name|e }} {{ game.home_score }}
{% endblock %}

{% block content %}
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}

{% if confirmed != 1 %}
    <div class="confirmation-box clearfix row-fluid">
        <div class="span4"></div>
        <div class="span4">
            {% if game.uploader != cookie.userId and confirmed == 0 %}
                <h1>Confirm this game!</h1>
                {# This was the opponent, who must confirm the game happened #}
                <div class="verification-details">
                    <form name="game-confirmation" action="/game/{{ game.game_id }}/review/" method="post">
                        <label>Everything look A-OK?</label>
                        <label class="radio">
                            <input type="radio" name="confirm" id="confirmed" value="yes"> Yep
                        </label>
                        <label class="radio">
                            <input type="radio" name="confirm" id="unconfirmed" value="no"> No!
                        </label>
                        <input type="hidden" name="id" value="{{ game.game_id }}">
                        <input type="submit" value="Yessir" class="btn">
                    </form>
                </div>
            {% else %}
                <h1>Verify this game!</h1>
                {# This is the dude who uploaded it, so let him verify it was uploaded correctly. #}
                <div class="verification-details">
                    <form name="game-verification" action="/game/{{ game.game_id }}/review/" method="post">
                        <label>Look good OR WHAT?</label>
                        <label class="radio">
                            <input type="radio" name="correct" id="correct" value="yes"> Yep
                        </label>
                        <label class="radio">
                            <input type="radio" name="correct" id="incorrect" value="no"> No!
                        </label>
                        <input type="hidden" name="id" value="{{ game.game_id }}">
                        <input type="submit" value="JAM IT!" class="btn">
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="span4"></div>
    </div>
{% endif %}
{{ utils.gameDetails(game) }}
{% endblock %}