{% spaceless %}

{% extends 'index.twig' %}

{% block site_title %}
Upload a game
{% endblock %}

{% block content %}
<h1>Upload a game</h1>
<h5 class="text-warning">* Only valid ZSnes saves (.zst, .zs1-9) or Gens saves (.gs0-9)</h5>

{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/game/upload/" method="post" enctype="multipart/form-data" name="uploader">
        <input type="file" id="state" name="state" value="Choose the save file..">
        <br>
        <label>Who did you play against?</label>
        <select name="opponent" id="opponent">
            <option selected>Choose Someone!</option>
            {% for user in users %}
                {% if user.id != cookie.userId %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label>Were you..</label>
        <label class="radio">
            <input type="radio" name="home_visitor" id="homeVisitor1" value="home"> Home
        </label>
        <label class="radio">
            <input type="radio" name="home_visitor" id="homeVisitor2" value="visitor"> Visitor
        </label>
        <br>
        <input type="submit" value="BAM!" class="btn">
    </form>
</div>
{% endblock %}

{% endspaceless %}