h1, h2, h3, h4 {
    text-align: center;
}

h4 {
    font-size: 1.5em;
}

.shh {
    position: relative;
    bottom: 2px;
    font-size: 0.4em;
}

.user-details {
    margin: 0 auto;
    text-align: center;
    max-width: 990px;
}

.user-details .table td {
    text-align: center;
}

.scoring-averages {
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
}

.user-averages {
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
}

.game-list  tbody td .confirm {
    color: #D44;
    font-weight: bold;
}

.chart {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.chart .item {
    float: left;
    height: 20px;
}

.chart .item:hover {
    text-decoration: none;
}

.chart .item .count {
    color: #FFF;
    color: rgba(255,255,255,0.4);
}

.tooltip {
    font-size: 16px;
    opacity: 1;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.teams-played {
    display: none;
}

@media screen and (min-width: 768px) {
    .teams-played {
        display: block;
    }
}
