.header {
    position: relative;
    clear: both;
    padding: 0;
    text-align: center;
}

.header .navbar {
    margin-bottom: 0;
    box-shadow: 0 2px 5px #000;
}

.header .navbar-inner {
    border-radius: 0;
    padding: 0;
    background-color: #777;
    background-image: linear-gradient(to bottom, #777, #666);
    background-image: -webkit-linear-gradient(top, #666, #555);
    background-repeat: repeat-x;
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff666666', GradientType=0);
}

.header .nav {
    margin-bottom: 0;
}

.header .nav > li > a {
    text-shadow: none;
    color: #DDD;
}

.header .nav > li > a:hover {
    color: #CCC;
}

.header .dropdown .caret {
    border-top-color: #DDD;
}

.header .dropdown:hover .caret {
    border-top-color: #CCC;
}

.header .navbar .divider-vertical {
    border-right: 1px solid #555;
    border-left: none;
}

.header .nav .brand {
    margin-left: 0;
    padding: 0;
    position: relative;
    top: -2px;
}

.header .nav .emphasized {
    color: #00CC88;
}

.header .nav .emphasized:hover {
    color: #00BB77;
}

.header .nav .upload {
    color: #00CC88;
    font-weight: 700;
}

.header .nav .upload:hover {
    color: #00BB77;
}

.header .nav .bug {
    color: #D44;
}

.header .nav .bug:hover {
    color: #B22;
}

.header .nav .dropdown-menu {
    text-align: left;
    top: 37px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    left: -10px;
    background-color: #777;
    background-image: linear-gradient(to bottom, #666, #555);
    background-image: -webkit-linear-gradient(top, #666, #555);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff666666', GradientType=0);
}

.header .nav>li>.dropdown-menu:before,
.header .nav>li>.dropdown-menu:after {
    content: none;
}

.header .nav .dropdown:hover .dropdown-menu {
    display: block
}

.header .nav .dropdown-menu > li > a {
  color: #FFF;
}

.header .nav .dropdown-menu > li > a:hover,
.header .nav .dropdown-menu > li > a:focus,
.header .nav .dropdown-submenu:hover > a,
.header .nav .dropdown-submenu:focus > a {
  color: #333;
  text-decoration: none;
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -o-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFAFAFA', endColorstr='#ffEFEFEF', GradientType=0);
}

.header .nav .dropdown-menu > .active > a,
.header .nav .dropdown-menu > .active > a:hover,
.header .nav .dropdown-menu > .active > a:focus {
  color: #333;
  text-decoration: none;
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: -o-linear-gradient(top, #FAFAFA, #EFEFEF);
  background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFAFAFA', endColorstr='#ffEFEFEF', GradientType=0);
}

#upload-game {
    margin: -30px 20px 0;
    color: #212121;
    padding: 20px 20px 10px;
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, #FAFAFA, #EFEFEF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EFEFEF));
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EFEFEF);
    background-image: -o-linear-gradient(top, #FAFAFA, #EFEFEF);
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFAFAFA', endColorstr='#ffEFEFEF', GradientType=0);
    border-bottom: 3px solid #DEDEDE;
}

#upload-game #upload-bits,
#upload-game select,
#upload-game input {
    float: left;
    margin-right: 20px;
    height: auto;
}

#upload-game .btn {
    padding: 1px 10px;
}