.logo {
    display: block;
    margin: 0 auto;
}

.logo.large {
    width: 99px;
    height: 107px;
}

/* Large icons */
.large.anaheim-mighty-ducks {
    background-position: 0 0;
    width: 100px;
}

.large.boston-bruins {
    background-position: -100px 0;
    width: 100px;
}

.large.buffalo-sabres {
    background-position: -200px 0;
    width: 100px;
}

.large.calgary-flames {
    background-position: -300px 0;
}

.large.chicago-blackhawks {
    background-position: -400px 0;
}

.large.dallas-stars {
    background-position: -500px 0;
}

.large.detroit-red-wings {
    background-position: -599px 0;
    width: 100px;
}

.large.edmonton-oilers {
    background-position: -699px 0;
    width: 100px;
}

.large.florida-panthers {
    background-position: -800px 0;
}

.large.hartford-whalers {
    background-position: -900px 0;
}

.large.los-angeles-kings {
    background-position: -1000px 0;
}

.large.montreal-canadiens {
    background-position: -1099px 0;
    width: 100px;
}

.large.new-jersey-devils {
    background-position: -1199px 0;
    width: 100px;
}

.large.new-york-islanders {
    background-position: -1299px 0;
    width: 100px;
}

.large.new-york-rangers {
    background-position: -1399px 0;
}

.large.ottawa-senators {
    background-position: -1499px 0;
}

.large.philadelphia-flyers {
    background-position: -1598px 0;
    width: 100px;
}

.large.pittsburgh-penguins {
    background-position: -1698px 0;
}

.large.quebec-nordiques {
    background-position: -1798px 0;
}

.large.san-jose-sharks {
    background-position: -1898px 0;
}

.large.st-louis-blues {
    background-position: -1997px 0;
}

.large.tampa-bay-lightning {
    background-position: -2096px 0;
    width: 100px;
}

.large.toronto-maple-leafs {
    background-position: -2196px 0;
}

.large.vancouver-canucks {
    background-position: -2296px 0;
}

.large.washington-capitals {
    background-position: -2396px 0;
    width: 100px;
}

.large.winnipeg-jets {
    background-position: -2496px 0;
}

.large.all-stars-east {
    background-position: -2597px 0;
}

.large.all-stars-west {
    background-position: -2697px 0;
}

/* Small icons */
.logo.small {
    width: 49px;
    height: 53px;
}

.small.anaheim-mighty-ducks {
    background-position: 0 -107px;
    width: 50px;
}

.small.boston-bruins {
    background-position: -51px -107px;
    width: 50px;
}

.small.buffalo-sabres {
    background-position: -101px -107px;
    width: 50px;
}

.small.calgary-flames {
    background-position: -151px -107px;
}

.small.chicago-blackhawks {
    background-position: -201px -107px;
}

.small.dallas-stars {
    background-position: -251px -107px;
}

.small.detroit-red-wings {
    background-position: -301px -107px;
}

.small.edmonton-oilers {
    background-position: -351px -107px;
}

.small.florida-panthers {
    background-position: -401px -107px;
}

.small.hartford-whalers {
    background-position: -451px -107px;
}

.small.los-angeles-kings {
    background-position: -501px -107px;
}

.small.montreal-canadiens {
    background-position: -551px -107px;
}

.small.new-jersey-devils {
    background-position: -601px -107px;
}

.small.new-york-islanders {
    background-position: -651px -107px;
}

.small.new-york-rangers {
    background-position: -701px -107px;
}

.small.ottawa-senators {
    background-position: -751px -107px;
}

.small.philadelphia-flyers {
    background-position: -801px -107px;
}

.small.pittsburgh-penguins {
    background-position: -850px -107px;
}

.small.quebec-nordiques {
    background-position: -900px -107px;
}

.small.san-jose-sharks {
    background-position: -950px -107px;
}

.small.st-louis-blues {
    background-position: -1000px -107px;
}

.small.tampa-bay-lightning {
    background-position: -1049px -107px;
}

.small.toronto-maple-leafs {
    background-position: -1100px -107px;
}

.small.vancouver-canucks {
    background-position: -1150px -107px;
}

.small.washington-capitals {
    background-position: -1200px -107px;
}

.small.winnipeg-jets {
    background-position: -1249px -107px;
}

.small.all-stars-east {
    background-position: -1299px -107px;
}

.small.all-stars-west {
    background-position: -1349px -107px;
}