@import 'logos.css';
@import 'systems.css';

body {
    background: #000 url(/static/img/bg.jpg) no-repeat 0 0;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #d7e1d5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

header, article, nav { display: block; }

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 990px) {
    .desktop {
        display: block;
    }
}

.site-title {
    background: transparent url(/static/img/site-logo.png) no-repeat 0 0;
}
.logo {
    background: transparent url(/static/img/logo-sprites.png) no-repeat 0 0;
}
.system {
    background: transparent url(/static/img/system-sprites.png) no-repeat 0 0;
}

.rr { display: none; }

.bug { 
    color: #f33;
}

.error, .success {
    padding: 10px;
    border: 2px solid #F33;
    background: #F99;
    color: #600;
    font-size: 2em;
    line-height: 1em;
    margin: 20px 0;
}

.success {
    border-color: #9f6;
    background: #CF9;
    color: #060;
}

.notifs {
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

.notifs:first-child {
    margin-bottom: 10px;
}

.navbar .nav>.dropdown>.denied {
    color: #D44;
    font-weight: 700;
}

.navbar .dropdown-menu>.notifs>.denied {
    color: #D44;
    font-weight: 700;
}

.dropdown .denied:hover {
    color: #B22;
}

.notifs .denied {
    color: #D44;
    font-weight: 700;
}

.notifs .unconfirmed {
    color: #DA0;
}

.note {
    font-size: 0.5em;
}

.general-wrapper {
    max-width: 990px;
    text-align: center;
    margin: 0 auto;
}

#main-content {
    clear: both;
    margin: 30px 0 0;
    padding: 20px 5px 20px;
    background: #Fafafa;
    color: #212121;
}

@media screen and (min-width: 768px) {
    #main-content {
        clear: both;
        margin: 0px 20px 20px;
        padding: 20px 20px 100px;
        background: #Fafafa;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        color: #212121;
        box-shadow: #000 0 2px 5px;
    }
}

.game-list {
    text-align: center;
    margin: 0 auto;
    max-width: 990px;
}

.game-list tr td {
    text-align: center;
}

.game-list .sys {
    padding-top: 2em;
}

.game-list .more {
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 1.5em;
}

.game-list thead > tr > td {
    font-size: 1.5em;
    line-height: 1em;
    padding-bottom: 0;
}

.game-list .home .home {
    color: #099;
}
.game-list .visitor .visitor {
    color: #099;
}
.game-list .home a, .game-list .visitor a {
    font-size: 1.2em;
}
.game-list .home .logo, .game-list .visitor .logo {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.game-list .score {
    font-size: 3em;
    line-height: 1em;
    padding-top: 0.5em;
}

.table .at {
    position: relative;
    top: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}


.table .clunk {
    color: #D44;
}

.table .meh {
    color: #DA0;
}

.table .ooo {
    color: #099;
}

.table-striped {
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    box-shadow: #CCC 0 2px 2px;
}

.table thead td,
.table-striped thead td,
.table tbody .title {
    font-weight: 700;
}

.table-striped td {
    border-top: 0;
}

.chart .item {
    float: left;
    height: 20px;
}

.chart .item:hover {
    text-decoration: none;
}

.chart .item .count {
    color: #FFF;
    color: rgba(255,255,255,1);
}

.chart .anaheim-mighty-ducks {
    background-color: #08685c;
}

.chart .boston-bruins {
    background-color: #000;
}

.chart .anaheim-mighty-ducks {
    background-color: #08685c;
}

.chart .buffalo-sabres {
    background-color: #254476;
}

.chart .calgary-flames {
    background-color: #f57300;
}

.chart .chicago-blackhawks {
    background-color: #e00606;
}

.chart .dallas-stars {
    background-color: #047a34;
}

.chart .detroit-red-wings {
    background-color: #d21423;
}

.chart .edmonton-oilers {
    background-color: #02216b;
}

.chart .florida-panthers {
    background-color: #cb1f1c;
}

.chart .hartford-whalers {
    background-color: #202c61;
}

.chart .los-angeles-kings {
    background-color: #a5adb0;
}

.chart .montreal-canadiens {
    background-color: #bf2f38;
}

.chart .new-jersey-devils {
    background-color: #e4022c;
}

.chart .new-york-islanders {
    background-color: #00529b;
}

.chart .new-york-rangers {
    background-color: #0060a9;
}

.chart .ottawa-senators {
    background-color: #000;
}

.chart .philadelphia-flyers {
    background-color: #f4793e;
}

.chart .pittsburgh-penguins {
    background-color: #fcbd04;
}

.chart .quebec-nordiques {
    background-color: #1b85bf;
}

.chart .san-jose-sharks {
    background-color: #0c7a96;
}

.chart .st-louis-blues {
    background-color: #00529b;
}

.chart .tampa-bay-lightning {
    background-color: #040104;
}

.chart .toronto-maple-leafs {
    background-color: #040277;
}

.chart .vancouver-canucks {
    background-color: #e7b91a;
}

.chart .washington-capitals {
    background-color: #e02b31;
}

.chart .winnipeg-jets {
    background-color: #323179;
}

.chart .all-stars-east {
    background-color: #00b2c3;
}

.chart .all-stars-west {
    background-color: #7f2e6d;
}