.system {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.system.large {
    width: 250px;
    height: 162px;
}

.large.system-1, .large.system-snes {
    background-position: 0 0;
}

.large.system-2,.large.system-genesis {
    background-position: -250px 0;
}

.system.small {
    width: 50px;
    height: 33px;
}

.small.system-1, .small.system-snes {
    background-position: 0 -162px;
}

.small.system-2, .small.system-genesis {
    background-position: -50px -162px;
}