.box-score .box {
    text-align: center;
}

.box-score .name {
    display: block;
    font-size: 2em;
    line-height: 1em;
    text-shadow: 1px 1px #048;
}

.box-score .score {
    font-size: 6em;
    line-height: 1em;
    text-shadow: 2px 2px #aaa;
}

.box-score .at {
    font-size: 5em;
    line-height: 1em;
    text-shadow: 2px 2px #aaa;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0.2em;
}

.box-score .scoring {
    font-size: 1.3em;
}

.box-score .scoring thead td {
    font-size: 0.8em;
    font-weight: bold;
}

.box-score .scoring td {
    padding: 0.2em;
}

.box-score .team-name {
    width: 150px;
    text-align: center;
}

.box-score .extra td {
    text-align: center;
}

.extra {
    text-align: center;
}

.summary .jersey {
    text-align: right;
}

.assist {
    font-size: 0.8em;
    font-style: italic;
}

.chart .logo.small {
    background-position-y: -122px;
}

.chart .small.buffalo-sabres {
    background-position-y: -112px;
}

.chart .small.detroit-red-wings {
    background-position-x: -300px;
}

.chart .small.edmonton-oilers {
    background-position-y: -127px;
}

.chart .small.montreal-canadiens {
    background-position-x: -550px;
}

.chart .small.new-york-islanders {
    background-position-y: -112px;
}

.chart .small.new-york-rangers {
    background-position-x: -700px;
}

.chart .small.philadelphia-flyers {
    background-position-x: -800px;
}

.chart .small.pittsburgh-penguins {
    background-position-y: -110px;
}

.chart .small.st-louis-blues {
    background-position-y: -110px;
}

.chart .small.tampa-bay-lightning {
    background-position-x: -1045px;
}

.chart .small.toronto-maple-leafs {
    background-position-x: -1099px;
    background-position-y: -130px;
}

.chart .small.vancouver-canucks {
    background-position-x: -1149px;
}

.chart .small.winnipeg-jets {
    background-position-x: -1252px;
}