{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}Getting Started on SNES{% endblock %}
{% block css %}<link href="/static/css/faqs.css" rel="stylesheet" media="screen">{% endblock %}

{% block content %}
<div class="row-fluid getting-started">
    <div class="span2"></div>
    <div class="span8">
        <h1>Getting Started</h1>
        <ul class="unstyled">
            <li><h2>Hamachi!</h2>
                <ol>
                    <li>You'll need to download <a href="https://secure.logmein.com/products/hamachi/download.aspx" target="_blank">Hamachi Unmanaged</a></li>
                    <li>Once you've installed it, Hamachi should open. Press the power button and once it's loaded up, hit <strong>NETWORK >> JOIN AN EXISTING NETWORK</strong></li>
                    <li>Network ID: wambophonics -- Password: wambo <em>*as of right now, this is filled. You can make your own network and give the ID/Password out to your opponent.</em></li>
                </ol>
            </li>
            <li><h2>Gens and NHL94!</h2>
                <ol>
                    <li>You will need <a href="/static/gens-complete.zip">Gens with Netplay and the NHL94 Rom</a></li>
                    <li>You can follow the guide written up on <a href="http://nhl94online.com/html/getting-started.php#gens">NHL94.com</a> to get started and learn more about Gens.</li>
                </ol>
            </li>
            <li><h2>Save States -- PRESS F5!!!</h2>
                <ol>
                    <li>When the end game screen pops up, you want to hit F5 to save it.</li>
                    <li>You can also save by going to File > Quick Save.</li>
                </ol>
            </li>
            <li><h2>File Bugs!</h2>
                <ul class="unstyled">
                    <li>This site is NEW and inevitably buggy. Please help out by <a href="https://bitbucket.org/wambotron/sea-hag.net/issues" class="bug">filing any bugs</a> you see.</li>
                    <li>Seriously, this will help all of us out. You can do it anonymously, no sign up!</li>
                </ul>
            </li>
        </ul>
        <p>
            <img src="/static/img/save-state-screen-gens.png" alt="F5 HERE!" width="512" height="448">
        </p>
    </div>
    <div class="span2"></div>
</div>
{% endblock %}