{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}{{ team.city ~ ' ' ~ team.name }}{% endblock %}
{% block css %}
<link href="/static/css/team/list.css" rel="stylesheet" media="screen">
<link href="/static/css/user/details.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
{{ utils.logo(team.city, team.name, 'large') }}

<div class="user-details">
    <h1>{{ team.city }} {{ team.name }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td width="50%">Played Most By (Games %)</td>
                <td><abbr title="Games Played">GP</abbr></td>
                <td>Wins</td>
                <td>Losses</td>
                <td>Ties</td>
                <td>Win %</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if teamStats.gamesPlayed > 0 %}
                    <td><a href="{{ homeDir ~'/user/'~ teamStats.beau.name|e }}">{{ teamStats.beau.name }}</a> ({{ teamStats.beau.percentage }})</td>
                    <td>{{ teamStats.gamesPlayed }}</td>
                    <td>{{ teamStats.totals.wins }}</td>
                    <td>{{ teamStats.totals.losses }}</td>
                    <td>{{ teamStats.totals.ties }}</td>
                    <td>{{ teamStats.totals.winPercentage }}</td>
                {% else %}
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                {% endif %}
                <td class="{{ utils.ratingClass(team.rating) }}">{{ team.rating }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% if teamStats.gamesPlayed > 0 %}
    {{ utils.averages(teamStats.averages) }}
{% endif %}
{% endblock %}