{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}NHL 94 Teams and Ratings{% endblock %}
{% block css %}<link href="/static/css/team/list.css" rel="stylesheet" media="screen">{% endblock %}
    
{% block content %}
    <h1>NHL 94 Teams and Ratings</h1>
    <table class="team-list table">
        <thead>
            <tr>
                <td colspan="2">Team</td>
                <td>Rating</td>
            </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td width="50"><a href="/team/{{ utils.teamDash(team.city, team.name) }}/">{{ utils.logo(team.city, team.name) }}</a></td>
                <td class="team">
                    <a href="/team/{{ utils.teamDash(team.city, team.name) }}/">
                        {{ team.city ~ ' ' ~ team.name }}
                    </a>
                </td>
                <td class="rating {{ utils.ratingClass(team.rating) }}">{{ team.rating }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
    