{% extends 'index.twig' %}

{% block site_title %}{{ user.name|e }}{% endblock %}
{% block css %}
<link href="/static/css/game/details.css" rel="stylesheet" media="screen">
<link href="/static/css/user/details.css" rel="stylesheet" media="screen">
{% endblock %}
{% import 'macros/utils.twig' as utils %}

{% block content %}
<h1>{{ user.name }} {% if user.id == cookie.userId %}<span class="shh">({{ user.email }})</span>{% endif %}</h1>
<h2>AIM: {{ user.contact }}</h2>
<div class="user-details">
    <table class="table table-striped">
        <thead>
            <tr>
                <td width="30%">As Team</td>
                <td width="5%"><abbr title="Games Played">GP</abbr></td>
                <td width="5%">Wins</td>
                <td width="5%">Losses</td>
                <td width="5%">Ties</td>
                <td width="8%">Win %</td>
                <td width="30%" style="text-align: center">Rival (Record Against)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if userStats.favorite.city %}
                        <a href="{{ homeDir ~'/team/'~ utils.teamDash(userStats.favorite.city, userStats.favorite.name) }}">{{ utils.logo(userStats.favorite.city, userStats.favorite.name) }}</a>
                    {% endif %}

                </td>
                <td>{{ userStats.averages.gamesPlayed }}</td>
                <td>{{ userStats.totals.wins }}</td>
                <td>{{ userStats.totals.losses }}</td>
                <td>{{ userStats.totals.ties }}</td>
                
                {% if userStats.totals.wins > 0 %}
                    <td>{{ (userStats.totals.wins / userStats.averages.gamesPlayed)|number_format(2) }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
                <td>
                    <a href="/user/{{ userStats.rival.stats.name|e }}">{{ userStats.rival.stats.name }}</a>
                    ({{ userStats.rival.stats.wins ~'-'~ userStats.rival.stats.losses ~'-'~ userStats.rival.stats.ties }})
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% if userStats.averages.gamesPlayed > 0 %}
    {{ utils.averages(userStats.averages) }}
{% endif %}
{% if games|length > 0 %}
    <h3>All Games Played</h3>
    {{ utils.list(games, true) }}
{% else %}
    <h4>You have no games yet. Play someone and upload a game!</h4>
{% endif %}
{% endblock %}
    

{% block js %}
<script type="text/javascript" src="/static/js/user/details.js"></script>
{% endblock %}