{% extends 'index.twig' %}

{% block site_title %}{{ user.name|e }}{% endblock %}
{% block css %}
<link href="/static/css/game/details.css" rel="stylesheet" media="screen">
<link href="/static/css/user/details.css" rel="stylesheet" media="screen">
{% endblock %}
{% import 'macros/utils.twig' as utils %}

{% block content %}
<h1>{{ user.name }} {% if user.id == cookie.userId %}<span class="shh">({{ user.email }})</span>{% endif %}</h1>
<h2>AIM: {{ user.contact }}</h2>
<div class="user-details">
    <div id="teams-played" class="teams-played chart clearfix">
        {% for team in userStats.teamsPlayed %}
            {% set percentage = (team.count / userStats.averages.gamesPlayed * 100)|number_format(5) %}
            <a href="/user/{{ user.name }}/as/{{ utils.teamDash(team.city, team.name) }}"
                 class="item {{ utils.teamDash(team.city, team.name) }}"
                 title="{{team.city ~' '~ team.name ~' <br> '~ team.count}} GP ({{ team.wins ~'-'~ team.losses ~'-'~ team.ties }})"
                 data-toggle="tooltip"
                 data-placement="top"
                 data-animation="false"
                 data-html="true"
                 style="width: {{ percentage }}%">
                {% if percentage > 3 %}
                    <span class="count">{{ team.count }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td width="30%">Favorite Team</td>
                <td width="5%">Rating</td>
                <td width="5%"><abbr title="Games Played">GP</abbr></td>
                <td width="5%">Wins</td>
                <td width="5%">Losses</td>
                <td width="5%">Ties</td>
                <td width="8%">Win %</td>
                <td width="30%" style="text-align: center">Rival (Record Against)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if userStats.favorite.city %}
                        <a href="{{ '/team/'~ utils.teamDash(userStats.favorite.city, userStats.favorite.name) }}">{{ utils.logo(userStats.favorite.city, userStats.favorite.name) }}</a>
                    {% endif %}

                </td>
                <td class="{{ utils.userRatingClass(user.rating) }}">{{ user.rating }}</td>
                <td>{{ userStats.averages.gamesPlayed }}</td>
                <td>{{ userStats.totals.wins }}</td>
                <td>{{ userStats.totals.losses }}</td>
                <td>{{ userStats.totals.ties }}</td>
                
                {% if userStats.totals.wins > 0 %}
                    <td>{{ (userStats.totals.wins / userStats.averages.gamesPlayed)|number_format(2) }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
                <td>
                    <a href="/user/{{ userStats.rival.stats.name|e }}">{{ userStats.rival.stats.name }}</a>
                    ({{ userStats.rival.stats.wins ~'-'~ userStats.rival.stats.losses ~'-'~ userStats.rival.stats.ties }})
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% if userStats.averages.gamesPlayed > 0 %}
    {{ utils.averages(userStats.averages) }}
{% endif %}
{% if games|length > 0 %}
    <h3>All Games Played</h3>
    {{ utils.list(games, true) }}
{% else %}
    <h4>You have no games yet. Play someone and upload a game!</h4>
{% endif %}
{% endblock %}
    

{% block js %}
<script type="text/javascript" src="/static/js/user/details.js"></script>
{% endblock %}