{% spaceless %}

{% extends 'index.twig' %}

{% block site_title %}
Change some of your stuff
{% endblock %}

{% block content %}
<h1>Go on, {{ user.name|e }}, change what you'd like</h1>
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
{% if success %}
<div class="success">{{ success }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/user/edit/" method="post">
        <label>Email</label> <input type="email" name="email" autofocus value="{{ user.email }}"><br>
        <label>AIM handle</label> <input type="text" name="contact" value="{{ user.contact }}"><br>
        <label>New Password</label> <input type="password" name="pass1"><br>
        <label>Re-enter New Password</label> <input type="password" name="pass2"><br>
        
        
        <label>Current Password</label> <input type="password" name="oldPass"><br>
        <br>
        <input type="submit" value="KAPLOW!" class="btn">
    </form>
</div>
{% endblock %}

{% endspaceless %}