{% extends 'index.twig' %}

{% block site_title %}User List{% endblock %}
{% block css %}<link href="/static/css/user/list.css" rel="stylesheet">{% endblock %}

{% import 'macros/utils.twig' as utils %}
    
{% block content %}
<div class="general-wrapper">
    <h1>Ask one of these jokers for a game!</h1>
    <h6>...or just check out their stats</h6>
    {{ utils.userList(users) }}
</div>
{% endblock %}