{% extends 'index.twig' %}

{% block site_title %}
Password Reset
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/validate.min.js"></script>
<script type="text/javascript" src="/static/js/user/reset-password-validation.js"></script>
{% endblock %}

{% block content %}
<h2>Enter your username and email to reset your password</h2>
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
{% if success %}
<div class="success">{{ success }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/user/reset-password/" method="post" name="reset-password">
        <label>Username</label> <input type="text" name="name" tabindex="1" value="{{ name }}" autofocus><br>
        <label>Email</label> <input type="text" name="email" tabindex="2" value="{{ email }}" ><br>
        <input type="submit" value="I promise to be less forgetful" tabindex="3" class="btn">
    </form>
</div>
{% endblock %}