{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}Review Your Unconfirmed Games{% endblock %}
{% block css %}
<link href="/static/css/game/details.css" rel="stylesheet" media="screen">
<link href="/static/css/user/details.css" rel="stylesheet" media="screen">
{% endblock %}
    
{% block content %}
    {% if cookie.userName %}
        <div class="row-fluid game-list">
            <div class="span3"></div>
            <div class="span6">
                <h1>Unconfirmed Games</h1>
            </div>
            <div class="span3"></div>
        </div>
    {% endif %}
    {% if games|length > 0 %}
        {{ utils.list(games, true) }}
    {% else %}
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <h4>No unconfirmed games. Good on ya!</h4>
            </div>
            <div class="span3"></div>
        </div>
    {% endif %}
{% endblock %}
    