{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}SNES Games{% endblock %}
    
{% block content %}
    {% if cookie.userName %}
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <h1>Recent SNES Games</h1>
                <h3><a href="/game/upload/">Upload a game!</a></h3>
            </div>
            <div class="span3"></div>
        </div>
    {% endif %}
    {% if games|length > 0 %}
        {{ utils.list(games) }}
    {% else %}
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <h4>No games yet. Play someone and upload the stats!</h4>
            </div>
            <div class="span3"></div>
        </div>
    {% endif %}
{% endblock %}
    