{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}Getting Started on SNES{% endblock %}
{% block css %}<link href="/static/css/faqs.css" rel="stylesheet" media="screen">{% endblock %}

{% block content %}
<div class="row-fluid getting-started">
    <div class="span2"></div>
    <div class="span8">
        <h1>Getting Started</h1>
        <ul class="unstyled">
            <li><h2>Hamachi!</h2>
                <ol>
                    <li>You'll need to download <a href="https://secure.logmein.com/products/hamachi/download.aspx" target="_blank">Hamachi Unmanaged</a></li>
                    <li>Once you've installed it, Hamachi should open. Press the power button and once it's loaded up, hit <strong>NETWORK >> JOIN AN EXISTING NETWORK</strong></li>
                    <li>Network ID: wambophonics -- Password: wambo <em>*as of right now, this is filled. You can make your own network and give the ID/Password out to your opponent.</em></li>
                </ol>
            </li>
            <li><h2>ZSnes and NHL94!</h2>
                <ol>
                    <li>You will need <a href="/static/zsnes-complete.zip">ZSnes 1.42 and the NHL94 Rom</a></li>
                    <li>If you want, you can also download the <a href="/static/snes-juiced.zip">SNES Juiced Rom</a> which has all player skill attributes to 100. I've also updated uniform colors to modern. Some teams have new colors with old names (Hartford looks like Carolina, for example).</li>
                    <li>You can follow the guide written up on <a href="http://nhl94online.com/html/getting-started.php#snes">NHL94.com</a> to get started and learn more about ZSnes.</li>
                </ol>
            </li>
            <li><h2>Save States -- PRESS F2!!!</h2>
                <ol>
                    <li>When the end game screen pops up, you want to hit F2 to save it.</li>
                    <li>You can also save by hitting escape, then going to File > Save State.</li>
                </ol>
            </li>
            <li><h2>File Bugs!</h2>
                <ul class="unstyled">
                    <li>This site is NEW and inevitably buggy. Please help out by <a href="https://bitbucket.org/wambotron/sea-hag.net/issues" class="bug">filing any bugs</a> you see.</li>
                    <li>Seriously, this will help all of us out. You can do it anonymously, no sign up!</li>
                </ul>
            </li>
        </ul>
        <p>
            <img src="/static/img/save-state-screen.PNG" alt="F2 HERE!" width="512" height="448">
        </p>
    </div>
    <div class="span2"></div>
</div>
{% endblock %}