{% extends 'index.twig' %}

{% block site_title %}User List{% endblock %}
{% block css %}<link href="/static/css/user/list.css" rel="stylesheet">{% endblock %}

{% import 'macros/utils.twig' as utils %}
    
{% block content %}
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <h1>SNES players. Give em the jibs for a game!</h1>
        <h6>...or just check out their stats</h6>
        {{ utils.userList(users) }}
    </div>
    <div class="span2"></div>
</div>
{% endblock %}