{% extends 'index.twig' %}

{% import 'macros/utils.twig' as utils %}

{% block site_title %}FAQs{% endblock %}
{% block css %}<link href="/static/css/faqs.css" rel="stylesheet" media="screen">{% endblock %}

{% block content %}
<div class="faqs">
    <h1>Questions and Answers and Bears. OH MY!</h1>
    <ul class="unstyled">
        <li>
            <h4 class="question">Question</h4>
            <p class="answer">Answer</p>
        </li>
    </ul>
</div>
{% endblock %}