{% spaceless %}

<nav id="main-navigation">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="brand">
                    <a href="/"><img src="/static/img/site-logo-small.png" alt="Sea-Hag"></a>
                </li>
                <li class="divider-vertical"></li>
                {% if cookie.userId %}
                    <li class="desktop"><a href="/game/upload/" class="upload">Upload Game</a></li>
                    <li class="divider-vertical desktop"></li>
                    <li class="dropdown desktop">
                        {% if unconfirmedGames > 0 %}
                            {% set user_class = "denied" %}
                        {% else %}
                            {% set user_class = "" %}
                        {% endif %}
                            <a href="/user/{{ cookie.userName|e }}/" class="{{ user_class }}" data-toggle="dropdown">User Info <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if user_class != "" %}
                                <li class="notifs">
                                    <a href="/user/{{ cookie.userName|e }}/unconfirmed" class="denied">
                                        Unconfirmed Games
                                    </a>
                                </li>
                            {% endif %}
                            <li><a href="/game/upload/" class="upload">Upload Game</a></li>
                            <li><a href="/user/{{ cookie.userName|e}}/">View Profile</a></li>
                            <li><a href="/user/{{ cookie.userName|e}}/edit">Edit Profile</a></li>
                            <li>&nbsp;</li>
                            <li><a href="/logout/">Log out</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical desktop"></li>
                {% else %}
                    <li class="desktop"><a href="/login/" class="emphasized">Login</a></li>
                    <li class="divider-vertical desktop"></li>
                    <li class="desktop"><a href="/signup/" class="emphasized">Sign up</a></li>
                    <li class="divider-vertical desktop"></li>
                {% endif %}
                <li class="dropdown">
                    <a href="/games/" data-toggle="dropdown">Games <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/games/">Recent</a></li>
                        <li><a href="/gens/games/">Gens Only</a></li>
                        <li><a href="/snes/games/">Snes Only</a></li>
                    </ul>
                </li>
                
                <li class="divider-vertical"></li>
                <li><a href="/teams/">Team Stats</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/users/" data-toggle="dropdown">Users <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/">All</a></li>
                    <li><a href="/gens/users/">Gens Only</a></li>
                    <li><a href="/snes/users/">Snes Only</a></li>
                    </ul>
                </li>
                
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/about/" data-toggle="dropdown">Info <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/">About this Site</a></li>
                        <li><a href="/faqs/">FAQs</a></li>
                        <li><a href="http://forum.nhl94.com/">Community</a></li>
                    </ul>
                </li>
                <li class="divider-vertical desktop"></li>
                <li class="bug desktop"><a href="https://bitbucket.org/wambotron/sea-hag.net/issues" class="bug" target="bugissues">File a Bug</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="upload-game" class="clearfix">
    <form action="/game/upload/" method="post" enctype="multipart/form-data" name="uploader" id="upload-o-matic" class="form-o-matic">
        <select name="home_visitor">
            <option value="home">Home Against</option>
            <option value="visitor">Away Against</option>
        </select>

        <div id="upload-bits"></div>
        {% verbatim %}
            <script type="text/template" id="upload-template">
                <select name="opponent">
                    <option selected>Opponent</option>
                    {{ #users }}
                        <option value="{{ id }}">{{ name }}</option>
                    {{ /users }}
                </select>
            </script>
        {% endverbatim %}

        <input type="file" id="state" name="state" value="Saved State">
        
        <input type="submit" value="Review" class="btn">
    </form>
</div>

{% endspaceless %} 