{% spaceless %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title>{% block site_title %}Home{% endblock %}</title>
        {% endblock %}
            
        {# Core items that will not change #}
        <meta charset="utf-8"> {# the charset should always be UTF-8 #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/main.css" rel="stylesheet" media="screen">
        <link href="/static/css/header.css" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="/favicon.ico">
        {% block css %}{% endblock %}
        <script>
            (function() {
                var el = document.createElement('header');
                el = document.createElement('nav');
                el = null;
            }());
        </script>
    </head>
    <body>
        
        <header class="header">
            {% block header %}
                {% include 'header.twig' %}
            {% endblock %}
        </header>
        
        <div id="main-content">
            {% block content %}
                <div class="row-fluid">
                    <div class="span12">
                        <h1>Don't let the title fool you, this is some serious NHL 94 action!</h1>
                        <h2>Need help getting started?</h2>
                        <h3><a href="/snes/getting-started/">SNES</a> or <a href="/gens/getting-started/">Gens</a></h3>
                        
                        <div class="news">
                            <h2>News and Updates</h2>
                            <ul class="unstyled">
                                <li>Added comments below games. Feel free to give your opponent props or talk smack, just keep it reasonable.</li>
                                <li>Added separate stats for SNES and Gens games/users. This should help to distinguish them a bit.</li>
                            </ul>
                        </div>
                        
                        <h2>File Bugs!</h2>
                        <ul class="unstyled">
                            <li>This site is NEW and inevitably buggy. Please help out by <a href="https://bitbucket.org/wambotron/sea-hag.net/issues" class="bug">filing any bugs</a> you see.</li>
                            <li>Seriously, this will help all of us out. You can do it anonymously, no sign up!</li>
                        </ul>
                    </div>
                </div>
                
            {% endblock %}
        </div>
        
        

        {# Core JS that will not change #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/mustache.js"></script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/validate.min.js"></script>
        <script src="/static/js/game/upload-validation.js"></script>

        {# page-specific js #}
        {% block js %}{% endblock %}
    </body>
</html>
{% endspaceless %}