{% extends 'index.twig' %}

{% block site_title %}
Login so you can add games and such
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/validate.min.js"></script>
<script type="text/javascript" src="/static/js/user/login-validation.js"></script>
{% endblock %}

{% block content %}
<h1>Login so you can add games and such</h1>
<h2><a href="/user/reset-password/" class="note">forgot password?</a></h2>
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/login/" method="post" name="login">
        <label>Username</label> <input type="text" name="name" tabindex="1" autofocus><br>
        <label>Password</label> <input type="password" name="password" tabindex="2"><br><br>
        <input type="submit" value="Submit" tabindex="3" class="btn">
    </form>
</div>
{% endblock %}