{% spaceless %}

{% extends 'index.twig' %}

{% block site_title %}
Sign up for some RETRO ACTION!
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/validate.min.js"></script>
<script type="text/javascript" src="/static/js/user/signup-validation.js"></script>
{% endblock %}

{% block content %}
<h1>Sign up to join the wonk</h1>
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<div class="form-o-matic">
    <form action="/signup/" method="post" name="signup">
        <label>Username</label> <input type="text" name="name" autofocus><br>
        <label>Email</label> <input type="email" name="email"><br>
        <label>AIM handle</label> <input type="text" name="contact"><br>
        <label>Password</label> <input type="password" name="pass1"><br>
        <label>Re-enter Password</label> <input type="password" name="pass2"><br>
        <br>
        <input type="submit" value="Submit" class="btn">
    </form>
</div>
{% endblock %}

{% endspaceless %}